<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="description" content="{{meta_description}}">
		<title>{{meta_title}}</title>
		<link rel="shortcut icon" href="{{asset '/favicon.ico'}}" type="image/x-icon">
		<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{asset 'b.css'}}">
		{{ghost_head}}
	</head>
	<body>
		<div id="app">
			<header>
				<div class="p-bar"></div>
				<div class="brand">
					<div class="triangle"></div>
					<a href="/#!/">{{@blog.title}}</a>
					<p title="村上春树">没有十全十美的文章，就犹如没有彻头彻尾的绝望</p>
				</div>
				<div class="res">
					<div class="s-brand">
						<img src="{{asset 'logo.png'}}" alt="brand" height="50">
					</div>
					<a class="fa fa-navicon fa-lg more" href="#"></a>
				</div>
				{{navigation}}
			</header>
			<div class="main">
				{{{ body }}}
			</div>
			<footer class="container-fluid">
				<div class="row">
					<div class="about-me col-sm-6">
						<img src="{{@blog.logo}}" alt="avator" title="don't touch me~Hentai">
						<blockquote>
							个人简介:95年生,男,双性恋,在校学生,伪前端,非科班.<br>			   			爱好:追番,撸码,睡觉(～﹃～)~zZ......<br>
							常用语言:javascript,中文
						</blockquote>
					</div>
					<div class="col-sm-6">
						<!-- 不知道放什么 -->
					</div>
				</div>
				<div class="row">
					<ul class="follow-me col-sm-6">
						<li><a href="https://weibo.com/rijufansjun" target="_blank"><i class="fa fa-weibo"></i></a></li>
						<li><a href="https://github.com/beilunyang" target="_blank"><i class="fa fa-github"></i></a></li>
						<li><a href="/rss"><i class="fa fa-rss" target="_blank"></i></a></li>
					</ul>
					<p class="copyright col-sm-6">Copyright © 2015 <a href="https://bitibiti.com">beilun</a> All Rights Reserved</p>
				</div>
			</footer>
		</div>
		<script>
			var pages = {{pagination.pages}};
			// duoshuo
			var duoshuoQuery = {short_name:'btniang'};
			
		</script>
		<script type="text/javascript" src="//static.duoshuo.com/embed.js"></script>
		<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{asset 'b.js'}}"></script>
	</body>
</html>