<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<meta name="description" content="{{meta_description}}">
		<title>{{meta_title}}</title>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		{{ghost_head}}
	</head>
	<body>
		<div id="app">
			<header>
				<div class="p-bar"></div>
				<div class="brand">
					<a href="/">{{@blog.title}}</a>
					<p title="村上春树">没有十全十美的文章，就犹如没有彻头彻尾的绝望</p>
				</div>
				<div class="res">
					<div class="s-brand">
						<img src="logo.png" alt="brand" height='50'>
					</div>
					<a class="fa fa-navicon fa-lg more"></a>
				</div>
				{{navigation}}
				<!-- <div class="search">
					<a href="javascript:;" class="fa fa-search fa-2x"></a>
				</div> -->
			</header>
			<!-- search_component -->
			<div class="main">
				<router-view></router-view>
			</div>
			<footer class="container-fluid">
				<div class="row">
					<div class="about-me col-sm-6">
						<img src="{{@blog.logo}}" alt="avator" title="don't touch me~Haitai">
						<blockquote>
							{{@blog.description}}
						</blockquote>
					</div>
					<!-- <ul class="drive col-sm-6">
						<li><img src="html5css3.svg" alt="" width="160"></li>
						<li><img src="js.svg" alt="" width="80" height="100"></li>
					</ul> -->
				</div>
				<div class="row">
					<ul class="follow-me col-sm-6">
						<li><a href="#"><i class="fa fa-qq"></i></a></li>
						<li><a href="#"><i class="fa fa-weibo"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
					</ul>
					<p class="copyright col-sm-6">Copyright © 2015 <a href="https://bitibiti.com">beilun</a> All Rights Reserved</p>
				</div>
			</footer>
		</div>
		<script>
			var pages = {{pagination.pages}};
		</script>
		<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="//bitibiti.disqus.com/count.js"></script>
		<script type="text/javascript" src="//bitibiti.disqus.com/embed.js"></script>
		<script type="text/javascript" src="static/bulid.js"></script>
	</body>
</html>